.editCard {
    width: 100%;
    max-width: 685px;
    height: 357px;
    padding: 20px 15px 20px 15px;
    background: linear-gradient(92.17deg, #0D0D0D 33.78%, rgba(0, 0, 0, 0.78) 113.45%);
    box-shadow: 5px 9px 8px rgba(0, 0, 0, 0.35);
    border-radius: 24px;
}